<div class="container">
  <div class="jumbotron mt-5 text-primary">
    <h1 class="display-4">WHO ARE WE</h1>
    <p class="lead">Elegante is an ecommerce web marketspace that allows for cutomers to registr thier unique brands and sell their products online. registering would mean that a customer must provide important information like address, cerificates, email and also blah blah blah. at this point i'm ust writing stuff that doesnt really mean anything haha</p>
    <hr class="my-4">
    <p>Elegante is an ecommerce web marketspace that allows for cutomers to registr thier unique brands and sell their products online. registering would mean that a customer must provide important information like address, cerificates, email and also blah blah blah. at this point i'm ust writing stuff that doesnt really mean anything haha.</p>
    <p class="lead">
      <a class="btn btn-primary " href="/shop" >Start Shopping Now!</a>
    </p>
  </div>
</div>