 <!-- showcase -->
 <div id="showcase">
  <div id="showcase-inner">
      <h1 class="text-white mt-5 mr-5 text-right display-3">Beautiful.</h1>
      <h1 class="text-white mt-5 mr-5 text-right display-3">Élégant.</h1>
      <h1 class="text-white mt-5 mr-5 text-right display-3">Modest.</h1>
  <blockquote class="blockquote text-center text-white">
    <p class="mb-0">"Modesty is the highest Elegance"</p>
    <footer class="blockquote-footer text-white">CoCo Chanel</footer>
  </blockquote>
  </div>
</div>
<div class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <p class="lead font-weight-normal">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, enim. lorem15</p>
      <a class="btn btn-outline-primary" href="/signup">Coming soon</a>
    </div>
    <!-- <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div> -->
</div>

<div class="container">
  <div class="row">
    <!-- card -->
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img" src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1471400119000/photosp/e3b956d6-f4d0-487b-aeca-84f512268531/stock-photo-photography-fashion-girls-hijab-e3b956d6-f4d0-487b-aeca-84f512268531.jpg" alt="Card image cap">
        <div class="card-body">
          <strong><h4 class="card-subtitle text-success">$4.99</h4></strong>
          <br>
          <p><a href="#" class="card-subtitle text-muted">brand</a></p>          
        </div>
      </div>
    </div> 
    <!-- card end -->
    <!-- card -->
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1459365916000/photosp/46dccd61-eb28-4287-a30b-625233695c52/stock-photo-muslim-drink-coffee-coffee-cup-girl-sunglasses-denim-drinking-coffeehouse-46dccd61-eb28-4287-a30b-625233695c52.jpg" alt="Card image cap">
        <div class="card-body">
        <strong><h4 class="card-subtitle text-success">$4.99</h4></strong>
                      <br>
          <p><a href="#" class="card-subtitle text-muted">brand</a></p> 
        </div>
      </div>
    </div> 
    <!-- card end -->
    <!-- card -->
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1455201960000/photosp/bb8baed0-7438-4104-9240-ad396dfc1940/stock-photo-woman-hijabi-hijab-fashion-hijab-hijabfashion-bb8baed0-7438-4104-9240-ad396dfc1940.jpg" alt="Card image cap">
        <div class="card-body">
        <strong><h4 class="card-subtitle text-success">$4.99</h4></strong>
                      <br>
          <p><a href="#" class="card-subtitle text-muted">brand</a></p> 
        </div>
      </div>
    </div> 
    <!-- card end -->
  </div>
</div>


<!-- footer -->
<footer class="container py-5">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4>About</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis reiciendis exercitationem deserunt quidem quos incidunt voluptates eos veritatis ipsam!</p>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li><a href="#">Follow on Twitter</a></li>
        <li><a href="#">Like on Facebook</a></li>
        <li><a href="#">Email us</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>