<div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" id="image1">
      <div class="carousel-caption d-none d-md-block">
          <h2 class="text-white">Élégant.</h2>
          <p>THE JOY OF DRESSING IS AN ART</p>
      </div>
    </div>
    <div class="carousel-item" id="image2">
      <div class="carousel-caption">
        <h2 class="text-white">Modest.</h2>
        <blockquote class="blockquote text-center text-white">
          <p class="mb-0">"Modesty is the highest Elegance"</p>
          <footer class="blockquote-footer text-white">CoCo Chanel</footer>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item" id="image3">
      <div class="carousel-caption">
        <h2 class="text-white"> Beautiful</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="row text-center">
    <div class="overflow-hidden col-12 p-lg-5 py-5">
      <h1 class="display-6 font-weight-normal">Visit Our Store</h1>
      <p class="lead font-weight-normal">We've Got really exciting clothes and accessories for ya! </p>
      <a class="btn btn-outline-primary" href="/shop">Shop now!</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/sunglass3.jpeg" alt="" class="img-fluid">
    </div>
    <div class="col">
      <img src="../../../assets/img/beach2.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row text-center">
    <div class=" overflow-hidden col-12 p-lg-5 mx-auto my-5 py-5">
      <h1 class="diplay-6">Got a Brand?</h1>
      <p class="lead font-weight-normal mx-3"> Do you have a brand worth selling to customers? Go on to add your products now! but first you gotta... </p>
      <a class="btn btn-outline-primary" href="/bsignup">Register here</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/img/showcase2.jpeg" alt="" class="img-fluid">
    </div>
  </div>
</div>
<div class="container">
  <!-- footer -->
  <footer class="container py-5">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4>About</h4>
        <p class="text-muted">Get you clothes and accessories from over 400+ brand from around the world. If you wish to become apart of our brands collection. Feel free register and...</p>
        <a href="/about">Read More..</a>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Follow on Twitter</a>
          </li>
          <li>
            <a href="#">Like on Facebook</a>
          </li>
          <li>
            <a href="#">Email us</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>