#image1{
  background-image: url('../../../assets/img/showcase.jpeg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
#image2{
  background-image: url('../../../assets/img/blossom.jpeg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
#image3{
  background-image: url('../../../assets/img/showcase3.jpeg');
  background-size: cover;
  background-position: center;
  height: 700px;
}

@media only screen and (max-width: 768px) {
  #image1,#image2,#image3 { height: 400px;}
}