<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center my-3">Orders</h4>
      <table class="table bg-light text-primary">
        <tr class="table-dark">
          <th scope="col">Quantity</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Discount</th>
        </tr>
        <tr *ngFor="let item of order" class="my-3">
            <td>{{item.quantity}}</td>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>{{item.product.category}}</td>
            <td>{{item.product.discount}}</td>
          </tr>
      </table>
    </div>
  </div>

</div>