<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center my-3">Orders</h3>
      <ul class="list-group text-primary" *ngFor="let item of order">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6>Quantity</h6>
          <span>{{item.quantity}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6>Product Name</h6>
          <span>{{item.product.name}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6>Price</h6>
          <span>{{item.product.price}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6>Category</h6>
          <span>{{item.product.category}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6>Discount</h6>
          <span>{{item.product.discount}}</span>
        </li>
        <li class="list-group-item">
          <ul class="list-group">
            <h6>Customer Details</h6>
            <li class="list-group-item d-flex justify-content-between align-items-center">Email <span>{{item.user.email}}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              First Name: <span>{{item.user.FirstName}}</span></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Last Name: <span>{{item.user.LastName}}</span></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

</div>