<div class="container">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 bg-light">
      <br>
      <h3 class="text-center">Sign up</h3>
      <form action="#" method="post" (submit)="onSubmit()">
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" name="FirstName" id="fname" [(ngModel)]="FirstName" class="form-control" validate>
        </div>
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" name="LastName" id="lname" [(ngModel)]="LastName" class="form-control" validate>
        </div>
        <div class="form-group">
          <label for="email">Enter E-mail</label>
          <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" validate>
        </div>
        <div class="form-group">
          <label for="password">Enter Password</label>
          <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control"
            validate>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" id="password2" class="form-control" validate>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign up" class="btn btn-primary">
        </div>
      </form>
      <span>
        <p>Got a brand? register it
          <a class="" href="/bsignup">here</a>
        </p>
      </span>
    </div>
  </div>
</div>